@font-face {
    font-family: interregular;
    src: url(./src/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: interbold;
    src: url(./src/fonts/Inter-Bold.ttf);
}

body {
    background-color: #070F11;
}

.main-section {
    padding-left: 36px;
    padding-top: 36px;
    padding-bottom: 45px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main-section img {
    width: 60px;
    height: 73px;
}

.main-section-box {
    padding-bottom: 49px;
}

.main-section-box>h1 {
    font-family: interbold;
    font-weight: 700;
    font-size: 78px;
    line-height: 94px;
    color: #FFFFFF;

    margin: 0;
}

.main-section-box>span {
    font-family: interregular;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

/* .bg-image {
    background-image: url(./src/img/bgimage.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 300px;
} */

.bg-image {
    margin: 0;
    padding: 0;
}

.bg-image img {
    width: 100%;
}

@media (max-width: 425px) {

    .main-section {
        padding-left: 14px;
        padding-top: 57px;
    }

    .main-section img {
        width: 36px;
        height: 44px;
    }

    .main-section {
        height: 0;
    }

    .main-section-box>h1 {
        font-size: 46.2671px;
        line-height: 56px;
    }

    .main-section-box>span {
        font-size: 18.9814px;
        line-height: 23px;
    }

    .bg-image {
        background-image: url(./src/img/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
}